# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
List popular languages for Data Science
Some of the commonly used libraries used by Data Scientists 
Some of the commonly used libraries used by Data Scientists

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Keras
3. Matplotlib
4. Numpy

| Data Science Tools |
| ------------------ |
| Apache Spark       |
| Apecha Hadoop      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
## This a simple arithmetic expression to mutiply then add
(3*4)+5

17

In [2]:
## This will convert 200 minutes to hours by diving by
200/60

3.3333333333333335

## Author
vuthanhdat